html {
    height: 100%;
}

body {
    min-height: 100%;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    position: fixed;
    height: 30px;
    align-items: center;
    padding: 5px 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid rgb(209, 209, 209);
    z-index: 999;
}


nav .menu-button {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/menu.png);
    background-position: center;
    background-size: cover;
    margin-right: 30px;
    
}
nav .search-button {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/search.png);
    background-position: center;
    background-size: cover;
}

nav .section {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 14.25px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 0 30px;
}

nav .nyt-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url(../images/nyt-logo.png);
    background-position: center;
    background-size: cover;
    width: 190px;
    height: 24px;
}

nav .nav-button {
    display: block;
    padding: 8px 12px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    background-color: #567b95;
    border: 1px solid #326891;
    color: white;
    font-size: 11px;
    font-weight: 700;
    border-radius: 4px;
    
}

nav #subscribe {
    margin-right: 8px;
    margin-left: 30px;
}

article {
    display: inline-block; /**text-align: center on body**/
    width: 931px;
    margin-top: 30px;
}

article img {
    width: 931px;
    width: 100%;
}

article header h1{
    font-size: 35px;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-style: italic;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    left: 15%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
}

article figcaption {
    font-size: 16px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    width: 80%;
    text-align: left;
    margin: 5px 0;
}

.related-content {
    margin: 25px auto;
    width: 1160px;

}
.more-in {
    width: 840px;
    display: grid;
    grid-template-rows: 55px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: start;
    grid-column-gap: 18px;
    grid-row-gap: 0px 20px;
    border-top: 1px solid black;
    position: relative;
    float: left;
}


.related-content img {
    width: 267px;
}

.related-content h2 {
    grid-row: 1;
    font-size: 16px;
    font-weight: 700;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    text-align: left;
    margin: 0;
    margin-top: 20px;

}
.img1, .img2, .img3 {
    grid-row: 2;
}

.img4, .img5, .img6 {
    grid-row: 3;
}

.related-content figcaption {
    font-size: 18px;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-weight: 500;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 50px;
}

.editor-picks {
    margin-top: -30px;
    width: 840px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    border-top: 1px solid black;
}

.img7, .img8, .img9 {
    grid-row: 2;
}

.most-popular {
    display: grid;
    position: relative;
    float: right;
    grid-template-rows: 55px 1fr;
    grid-template-columns: 300px;
    align-items: center;
    grid-auto-flow: row;
    border-top: 1px solid black;
}

.most-popular h2 {
    margin-top: 2px;
}
.most-popular a {
    font-size: 18px;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-weight: 500;
    text-align: left;
    padding: 15px 0;
    display: block;
}

.most-popular div {
    border-top: 1px solid rgb(204, 204, 204);
    text-align: left;
}

footer {
    width: 1160px;
    margin: 0 auto;
}

footer .footer-logo {
    display: block;
    background: url(../images/nyt-logo.png);
    background-size: cover;
    width: 190px;
    height: 24px;
    margin-bottom: 16px;
}
footer .news-columns {
    display: grid;
    width: 990px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    grid-auto-flow: row;
    padding-bottom: 12px;

}

.news-columns {
    line-height: 23px;
}
.news-columns h4 {
    font-size: 13px;
    font-weight: 700;
    font-family: nyt-franklin;
    margin: 0;
    line-height: 29px;
}

.news-columns a {
    font-size: 14px;
    font-weight: 500;
    font-family: nyt-franklin;
}

.news-columns > div {
    display: flex;
    flex-direction: column;
}

footer .footer-nav {
    display: flex;
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 15px;
    padding-bottom: 40px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    color: rgb(102, 102, 102);
    width: 1160px;
    margin: 0 auto;
    justify-content: center;
    
}

footer .footer-nav a {
    padding: 0 7px;
}
